/* .row_About{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
} */
.About_text{
    width:43%;
}
.About_image{
    width:50%;
    /* margin-top: 5px; */
}
.image-fluid{
    max-width: 90%;
    height: auto;
}

.img_about{
    width:43%;
}
.text_about{
    width:50%;
}

@media only screen and (max-width: 600px){
    .about_section_2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text_about{
        width:100%;
        margin-top: 30px;
    }
    .img_about{
        width:100%;
        /* margin-top: 5px; */
    }
    .about_section3_img{
         width:50%;
    }
    .about_section3_text{
        text-align: center;
    }
    .about_section1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;  
    }
    .About_text{
        width:80%;
    }
    .About_image{
        width:80%;
        /* margin-top: 5px; */
    }
}